    <html>
           <head>
              <meta charset="utf-8" />
              <title>Статистика по короновирусу в Москве</title>
               <style>
                   .btn {
                       display: inline-block;
                       background: #333300;
                       color: #fff; 
                       padding: 1rem 1.5rem; 
                       text-decoration: none; 
                       border-radius: 5px;
                       font-size: 20px
               }
              </style>
           </head>
           <body text="#333300"; 
                 link="#333300"; 
                 alink="#9900CC"; 
                 vlink="#DEDE00"; 
                 style = "background-color:#FFFF99">
                 <p style = "font-size:30px" 
                     align="center">
                     Что бы вы хотели узнать?
                 </p>
                <p align="center">
                      <a href= '/statis' class = "btn"> Графики</a>
                </p>
                <p align="center">
                      <a href="/today" class = "btn">На сегодняшний день</a>
                </p>
                <p> 
                      Источники: <a href="https://coronavirus-control.ru/coronavirus-moscow/">Коронавирус в Москве</a>
                </p>
        </body>
    </html>